.follower-card {
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
    background: var(--color-bg);
    cursor: pointer;
    max-width: 13.5rem;
    min-width: 10rem;
    width: 100%;
    color: var(--color-text-light);
    position: relative;
}

.follower-card-link {
    text-decoration: none;
    color: var(--color-text-light);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.follower-card a{
    text-decoration: none;
    color: var(--color-text-light);
}

.follower-card:hover {
    background: var(--color-navbar-search-input);
}

.follower-card-img-container {
    width: 2rem;
    height: 2rem;
}

.follower-card-img-container img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
}

.follower-card-right {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.follower-card-left {
    display: flex;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer !important;
}