.user-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 1rem;
}

.user-dropdown>a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.user-dropdown:hover {
    border-bottom: 2px solid var(--color-accent);
}

.user-dropdown-menu {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 99%;
    transform: translateX(-80%);
    cursor: initial;
    width: 10rem;
    background: var(--color-light);
    color: var(--color-text-light);
}

.user-dropdown-menu a:link {
    text-decoration: none !important;
}

.user-dropdown-menu p {
    margin: 0;
    width: 100%;
    text-decoration: none;
}

.user-dropdown-menu p:hover {
    color: var(--color-accent);
    font-weight: bold;
}
.user-dropdown-menu-item.logout:hover {
    color: tomato;
    font-weight: bold;
}

.user-dropdown-avatar {
    height: 2rem;
    width: 2rem;
}

.dropdown-menu-username {
    margin: 0;
    font-family: 'Anton', sans-serif;
    border-bottom: 1px dotted gray;
    text-align: right;
    padding: 0.5rem;
    color: var(--color-black);
}

.user-dropdown-avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-dropdown-menu-item {
    padding: 0.75rem;
    cursor: pointer;
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.user-dropdown-menu-item svg {
    margin-right: 0.5rem;
}

.user-dropdown-menu-item:hover {
    background: var(--color-logo-text);
    text-decoration: none;
}