.about h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.about h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about p{
    font-size: 1.25rem;
}
.about a{
    color: var(--color-accent);
}