.profile-data {
    display: flex;
}

.pd-label {
    flex: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    justify-content: flex-end;
    color: var(--color-text-light);
}

.pd-user-info {
    display: flex;
    gap: 1rem;
    flex: 1;
}

.pd-left img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.pd-name-container {
    display: flex;
    gap: 0.5rem;
}

.pd-username {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
    font-size: large;
}

.pd-name-container a {
    display: flex;
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: 300;
    font-size: .8rem;
    align-items: center;
    gap: 0.2rem;
}
.pd-username a{
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
    font-size: large;
}
.pd-name-container a svg {
    display: flex;
    color: var(--color-text-light);
    font-size: .8rem;
}

.pd-name-container a:hover,
.pd-name-container a:hover svg {
    color: var(--color-accent);
}

.pd-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pd-statistics {
    font-weight: 300;
    font-size: 0.8rem;
    display: flex;
    gap: 1rem;
}