*,*::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html {
    overflow-y: scroll;
}
body {
    background: var(--color-bg);
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: calc(100vh - 10.25rem);
}