@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');;

:root {
  --font-family: 'Roboto', sans-serif;

  --color-bg: #f5f5f5;
  --color-logo: #17953d;
  --color-accent: #17953d;
  --color-text-light: #505050;
  --color-logo-text: #f6f6f6;
  --color-navbar-background: #fff;
  --color-navbar-search-input: #e2e2e2;
  --color-navbar-search-text: #1a1a1a;
}
body{
  font-family: 'Roboto', sans-serif;
}