.category-selector{
    padding: 1rem;
    margin-top: 0.25rem;
    border: none;
    outline: none;
    background: var(--color-navbar-search-input);
    color: var(--color-black);
    width: 100%;
}
.category-option{
    color: var(--color-black);
}

.category-label{
    display:inline-block;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
}