
.contact h2 {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contact-form input, textarea {
    padding: 1rem;
    margin-top: 0.25rem;
    border: none;
    outline: none;
    background: var(--color-navbar-search-input);
    color: var(--color-black);
}
.contact-form label {
    font-size: 1rem;
    margin-top: 1rem;
}
.contact-form input {
    padding: 1rem;
    margin-top: 0.25rem;
    border: none;
    outline: none;
    background: var(--color-navbar-search-input);
}

.contact-form button{
    padding: 0.50rem;
    width: 100%;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    background: var(--color-accent);
    color: var(--color-logo-text);
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.3em;
    cursor: pointer;
}