.favourites-button-container-not-followed:hover{
    color: var(--color-accent);
}
.favourites-button-container-followed:hover{
    color: tomato;
}
.favourites-button-container{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    z-index: 9998;
}