.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form button{
    padding: 0.50rem;
    width: 100%;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    background: var(--color-accent);
    color: var(--color-logo-text);
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.3em;
    cursor: pointer;
}