.theme-switch{
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--color-text-light);
    cursor: pointer;
    margin-right: 0.5rem;
}
.switch-item:hover{
    transform: scale(1.2);
    color: var(--color-accent);
}