.author-contols {
    display: flex;
    margin-left: 0.5rem;
    position: relative;
}

.author-contols-button {
    cursor: pointer;
}

.AiOutlineEdit:hover {
    color: var(--color-accent);
}

.AiOutlineDelete:hover {
    color: tomato;
}

